.content {
    position: relative;
    color: var(--cor-1);
}

.conteinerConteudo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentConteudo {
    position: relative;

    margin: 100px auto;
    color: black;
    width: 80%;
    padding: 15px 10px 90px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contentConteudo img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentConteudo em {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* capa */

.contentCapa {
    position: relative;
    top: -80px;
}

.contenttitle {
    position: absolute;
    bottom: 35%;
}

.contentCapa h1 {
    margin: auto 45px 0px 45px;
    line-height: 50px;
    text-decoration: underline #ffffffa9 0.75px;
    font-size: 35px;
}

.contentCapa h1:hover {
    text-decoration: underline var(--cor-5);
}

.contentCapa p,
.contentCapa small {
    margin: 15px 45px;
    line-height: 25px;
}

.contentCapa p span {
    font-size: 12px;

}

.capa {
    position: relative;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 85vh;
    background: var(--cor-2);

    background-size: auto;
    border-radius: 0px 0px 10px 10px;
}

.contentCompartilharIcon {
    margin: auto 45px;
    line-height: 38px;

    display: flex;
    gap: 10px;

}

.compartilharIcon {
    border: solid var(--cor-5) 0.5px;
    border-radius: 50%;
    padding: 5px;
}

/* banner */

.resumoBanner {
    position: absolute;

}

.banner {
    border-radius: 10px;
    margin: 15px auto auto auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner small {
    color: var(--cor-1);
}


.banner img {
    width: 40vh;
    border-radius: 10px;
}


@media screen and (min-width: 800px) {
    .contentConteudo {
        width: 600px;
        align-content: center;
        text-align: left;
        position: relative;
        left: -180px;

        margin: 20px;
        padding: 20px;
    }

    .contentConteudo img {
        width: 450px;
    }

    .contenttitle {
        margin: auto 20%;
        bottom: 50%;
        width: 120vh;
    }

    .contenttitle small {
        padding: 5px 10px;
    }

    .contenttitle small:hover {
        cursor: pointer;
        text-decoration: underline var(--cor-1) 1px;
    }

    .contentCapa h1 {
        padding: 5px 10px;
        transition: 200ms;

    }

    .contentCapa h1:hover {
        text-decoration: underline var(--cor-5) 4px;

    }

    .resumoBanner {
        display: flex;
        flex-direction: row-reverse;
        

    }

    .contentCapa p {
        position: relative;
    
    }

    .contentCapa p span {
        font-size: 14px;
        position: absolute;
        bottom: -40px;
    
    }

    .contentCapa p span:hover {
        text-decoration: underline var(--cor-5) 1px;
        font-weight: 600;
    
    }

    .banner small {
        color: var(--cor-1);
    }


    .banner img {
        width: 80vh;
        border-radius: 10px;
    }

    .contentCapa p{
        margin: 75px 25px 90px 25px;
        transition: 200ms;
    }

    .contentCapa p:hover{
        cursor: pointer;
        text-decoration: underline var(--cor-5) 2px;
        transition: 200ms;
    }


    .contentCompartilharIcon {
        margin: 10px 50px auto 38px;
        scale: 1.4;
        width: 60px;
        cursor: pointer;
    
    }




}