.content {
    margin: 0 10% 100px 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.valoresContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 0.89;
}

.valores {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.valoresFinais {
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 1.2;

    margin: auto 30px;
}

.title2 {
    font-size: 25px;
    display: flex;
    margin: 10px auto -10px auto;
}

.contentMarca {
    position: relative;
    width: 55%;

}

.marca {
    font-size: 13px;
    font-weight: 400;
    margin-left: 3px;
}

.marcaDaMarca {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 18px;
    left: 0px;
    border-radius: 2px;
    z-index: -1;
    background: var(--cor-2);
}

.contentValores{
    margin: 5px auto;
}

.valoresFinais1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: -10px;
    font-size: 12px;
}

.imageCambio{
    position: relative;
    top: 12px;
}

.atualiza {
    font-size: 8px;
    color: var(--cor-4);
    font-weight: 400;
}

.detalhe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalhe h3 {
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.detalhe strong {

    color: var(--cor-1);
}

.divisor {
    width: 4px;
    height: 78px;
    border-radius: 10px;
    background: var(--cor-1);
}

@media screen and (min-width: 1280px) {

    .valoresContent {

        scale: 1;
    }


}