.cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px auto;

    scale: 1.1;
}

.frase{
    font-size: 10px;
    color: var(--cor-4);
    margin: -8px 0 0 0;
}