.container {
    width: 125%;
    height: auto;

    border-radius: 1rem 1rem 0 0;
    padding-bottom: 90px;
}

.contentBlog {

    background: var(--cor-2);
    width: 100%;
    height: auto;

    border-radius: 1rem 1rem 0 0;
    padding: 20px 0px;
    display: flex;
    justify-content: center;


}


.contentTurismo {

    background: var(--cor-1);
    width: 100%;
    height: auto;

    border-radius: 1rem 1rem 0 0;
    position: relative;
    top: -30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 80px;


}


.ContentConteudoHome {
    margin: 30px auto;
    width: auto;
}

.ContentConteudo p {
    color: var(--cor-5);
}


.cotentBlogHome {
    padding: 0px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.cotentBlogHome h2 {
    font-size: 30px;
    color: var(--cor-5);
    margin: 10px auto 0px auto;

}

.cotentBlogHome h3 {
    font-size: 25px;
    margin: 10px 10px auto auto;

    line-height: 28px;

}

.cotentBlogHome small {
    font-size: 12px;
    margin: auto 10px auto auto;

}

.btActionBlog {
    color: var(--cor-5);
    background: var(--cor-1);
    padding: 10px;
    border-radius: 5px;
}

.btVejaMaisConteudo {
    background: var(--cor-1);
    padding: 10px 25px;
    border-radius: 10px;
    margin: 50px auto auto auto;
    scale: 1.1;
}

.btVejaMaisConteudo a {
    color: var(--cor-5);
    font-weight: 600;
}

.contentBt {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Banner */
.banner {
    width: 900px;
    height: 600px;
    background: var(--cor-1);
}


/* Interessante */

.containerInteressante {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contentInteressante {
    background: var(--cor-1);
    width: 290px;
    height: auto;
    border-radius: 10px;
    padding: 5px 20px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.contentInteressante h3,
.contentInteressante p {
    color: var(--cor-5);
    z-index: 2;
}

.contentInteressante p {
    text-decoration: underline;
}

.marcaInteressante {
    color: var(--cor-5);
    position: absolute;
    transform: rotate(270deg);
    right: -305px;
    font-size: 110px;
    font-weight: 600;
    opacity: 0.2;
    z-index: 1;
    margin: 0;
    padding: 0;
}

/* anuncio */

.contentAnuncio {
    margin: 20px auto 0px auto;
}

.contentAnuncio small {
    color: #ffffffb7;
}

.anuncio {
    width: 327px;
    height: 327px;
    border: solid #000;
}

/* aqui */

.cotentTurismoHome {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 0px;

    width: 90%;
}

.cotentTurismoHome h2 {
    font-size: 30px;
    color: var(--cor-5);
    margin: 10px auto 0px auto;

}

.cotentTurismoHome h3 {
    font-size: 25px;
    margin: 10px 10px auto auto;

    line-height: 28px;

}

.cotentTurismoHome small {
    font-size: 12px;
    margin: auto 10px auto auto;

}

.containerTurismo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 10px 20px;

    width: 100%;
    overflow: auto;
}

.btActionDestino {
    position: relative;
    color: var(--cor-5);
    background: var(--cor-2);
    padding: 10px;
    border-radius: 5px;
}




@media screen and (min-width: 811px) {

    .contentBlog {

        display: flex;   
        justify-content: center;
        
    
    }

    

    .conteudoBlog {
        display: flex;
    }


    .ContentConteudo {
        display: flex;
        width: 670px;
        gap: 20px;
        justify-content: center;
        align-items: initial;
    }


}