.container{
    width: 125%;
    height: auto;
    
    border-radius: 1rem 1rem 0 0;
}

.contentBlog{
    
    background: var(--cor-2);
    width: 100%;
    height: auto;
    
    border-radius: 1rem 1rem 0 0; 
       

}

.contentTurismo{
    
    background: var(--cor-1);
    width: 100%;
    height: auto;
    
    border-radius: 1rem 1rem 0 0; 
    position: relative;
    top: -30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 80px;
   

}


.ContentConteudoHome{
    margin: 15px auto;
}

.ContentConteudo p{
    color: var(--cor-5);
}


.cotentBlogHome{
    padding: 0px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 10px;
}

.cotentBlogHome h2{
    font-size: 30px;
    color: var(--cor-5);
    margin: 10px auto 0px auto;

}

.cotentBlogHome h3{
    font-size: 25px;
    margin: 10px 10px auto auto;

    line-height: 28px;

}

.cotentBlogHome small{
    font-size: 12px;
    margin: auto 10px auto auto;

}

.btActionBlog{
    color: var(--cor-5);
    background: var(--cor-1);
    padding: 10px;
    border-radius: 5px;
}



/* aqui */

.cotentTurismoHome{
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 0px;
}

.cotentTurismoHome h2{
    font-size: 30px;
    color: var(--cor-5);
    margin: 10px auto 0px auto;

}

.cotentTurismoHome h3{
    font-size: 25px;
    margin: 10px 10px auto auto;

    line-height: 28px;

}

.cotentTurismoHome small{
    font-size: 12px;
    margin: auto 10px auto auto;

}

.btActionDestino{
    position: relative;
    color: var(--cor-5);
    background: var(--cor-2);
    padding: 10px;
    border-radius: 5px;
}