.dolar {
    display: flex;
    font-size: 45px;
    margin: 0;
    position: relative;
}

.cifra {
    position: relative;
    top: 5px;
    font-size: 20px;
    color: var(--cor-4);
    font-weight: 500;
}

.realPeso{
    font-size: 45px;
    margin: 10px;
    display: flex;
}

.cifra1{
    position: relative;
    top: 5px;
    font-size: 20px;
    color: var(--cor-4);
    font-weight: 500;
}