@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    margin: auto;
    height: 50px;
    border: 10px solid var(--cor-1); 
    border-top: 10px solid var(--cor-3); /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    scale: 0.5;
  }